.btn{
	position: relative;
	display: inline-block;
	transition: all .2s $easing-default;
	text-decoration: none;
}

.btn-rounded{
	@extend .btn;
	@extend %font-size-header6;
	font-weight: 700;
	background: $color-primary-dark;
	color: #fff;
	padding: 16px 32px;
	border-radius: 26px;
	text-align: left;

	@include breakpoint(tablet) {
		line-height: 52px;
		padding: 0;
		padding-left: 32px;
		padding-right: 32px;
	}

	&:hover{
		background: lighten($color-primary-dark, 8);
		cursor: pointer;
	}

	/* Sizes */
	&.btn--large{
		@extend %font-size-header5;
		padding: 24px 37px;
		border-radius: 35px;

		@include breakpoint(desktop) {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 70px;
		}
	}

	/* Colors */
	&.btn--dark{
		background-color: $color-body-dark;
	}

	&.btn--white{
		background: #fff;
		color: $color-body-dark;
	}

	&.btn--primary{
		background: $color-primary;
		color: $color-body-dark;
	}

	/* Types */
	&.btn--bordered {
		box-sizing: unset;
		background: transparent;
		outline: 2px solid $color-primary-dark;
		outline-offset: -2px;
		color: $color-primary-dark;

		&:hover {
			color: lighten($color-primary-dark, 8);
			outline: 2px solid  lighten($color-primary-dark, 8);
		}
	}

	/* Modifiers */
	&:disabled{
		opacity: .4;
	}

	&:focus{
		outline: 0;
	}

	&.btn--backdrop{

		&:after{
			content: " ";
			position: absolute;
			z-index: -1;
			top: 7px;
			left: 11px;
			width: 100%;
			height: 100%;
			border: 2px solid rgba($color-primary-dark, .3);
			border-radius: 26px;
			transition: all .2s $easing-default;
		}

		&:hover{
			transform: translate(3px, 2px);

			&:after{
				top: 0px;
				left: 0px;
			}
		}

		&.btn--large{

			&:after{
				border-radius: 35px;
			}
		}

		&.btn--white::after{
			border-color: rgba(255, 255, 255, .3);
		}

		&.btn--primary::after {
			border-color: $color-primary;
		}
	}

	&.btn--arrow{
		padding-right: 60px;

		&:after{
			@extend %fa-pseudo;
			position: absolute;
			top: 50%;
			right: 31px;
			transform: translateY(-46%);
			font-family: "Font Awesome 5 Pro";
			content: "\f30b";
			font-size: 16px;
			line-height: 44px;
			transition: all .2s $easing-default;
		}

		&:hover{
			padding-right: 60px;

			&:after{
				right: 28px;
			}
		}

		&.btn--large{

			&:hover{
				padding-left: 30px;
				padding-right: 67px;
			}
		}
	}
}

.btn-link{
	@extend .btn;
	font-weight: 600;

	&:before{
		content: " ";
		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		height: 2px;
		background: $color-primary-dark;
	}

	&.btn--arrow{

		&:after{
			@extend %fa-pseudo;
			position: absolute;
			top: 4px;
			right: -24px;
			font-family: "Font Awesome 5 Pro";
			content: "\f30b";
			transition: all .2s $easing-default;
		}

		&:hover{

			&:after{
				right: -30px;
			}
		}
	}

	&.btn--small {
		@extend %font-size-header6;
	}
}

.btn-icon{
	@extend .btn;

	&.btn--back{
		@extend %font-size-xxsmall;
		line-height: 42px;
		font-weight: 700;
		text-transform: uppercase;
		padding-left: 50px;
		@include letter-spacing(60);

		&:before{
			@extend %fa-pseudo;
			position: absolute;
			top: 0;
			left: 0;
			width: 42px;
			height: 42px;
			font-family: "Font Awesome 5 Pro";
			text-align: center;
			font-size: 16px;
			line-height: 44px;
			content: "\f30a";
			background: $color-primary-light;
			border-radius: 50%;
		}
	}
}
