.card{

	&-post{
		flex: 1;
		display: flex;
		flex-direction: column;

		.card-thumbnail{

			img{
				@extend %image-fluid;
			}
		}

		.card-body{
			@extend %font-size-small;
			flex: 1;
			display: flex;
			flex-flow: column wrap;
			align-items: stretch;
			margin-top: 33px;
			color: $color-primary-dark;

			.card-title{
				@extend %font-size-header3;
				min-height: 72px;
				margin-bottom: auto;
			}

			.card-excerpt{
				flex: 1;
				margin-top: 23px;
				margin-bottom: 33px;
			}

			.card-footer{
				margin-top: auto;
			}
		}

		&.card-hover{

			.card-thumbnail{
				position: relative;
				overflow: hidden;

				img{
					transition: transform .6s $easing-default;
				}
			}

			&:hover{

				.card-thumbnail{

					img{
						transform: scale(1.04);
					}
				}

				.card-footer{

					.btn-link{

						&:after{
							right: -30px;
						}
					}
				}
			}
		}
	}
}