.js_responsive_bg{
	overflow: hidden;

	.bg--appended{
		width: 101%;
		height: 101%;
		//display: none;
		background-size: cover;
		background-position: center center;
		transform: scale(1.1);
		opacity: 0;
		transition: all 2.4s $easing-default;

		&.bg--animated{
			transform: scale(1.001);
			opacity: 1;
		}
	}
}