.content-block{

	&.block--spacer-small{
		margin-top: 24px;
		@include breakpoint(tablet) { margin-top: 40px; }
		@include breakpoint(desktop) { margin-top: 64px; }
	}

	&.block--spacer-medium{
		margin-top: 40px;
		@include breakpoint(tablet) { margin-top: 64px; }
		@include breakpoint(desktop) { margin-top: 80px; }
	}

	&.block--spacer-large{
		margin-top: 80px;
		@include breakpoint(tablet) { margin-top: 96px; }
		@include breakpoint(desktop) { margin-top: 120px; }
	}

	.block-title {
		hyphens: manual;
	}
}
