.block_hero {


	.block-title {
		hyphens: auto;
	}

	// Default page / blog hero
	&.hero--default {
		position: relative;
		margin-bottom: 40px;
		min-height: 358px;
		background: #e6f4f1;

		.block-body {
			position: relative;
			z-index: 2;
			padding-top: 104px;
			min-height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:not(.hero--default-small) {

			.block-body {
				padding-top: 211px;
			}
		}

		.block-title {
			@extend %font-size-xlarge;
			margin: 0;
		}

		.mask {
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: -1px;
			width: 100%;
			fill: #fff;
		}

		&.hero--default-large {

			.block-body {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 3;
				left: 0;
				right: 0;
				align-items: flex-end;
			}
		}
	}

	&.hero--image {
		position: relative;
		background: $color-primary-light;

		.block-body {
			display: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 3;
			left: 0;
			right: 0;
			padding-top: 112px;

			@include breakpoint(desktop) {
				display: block;
			}

			.block-title {
				color: #fff;
				max-width: 680px;
				margin: 0 auto;

				@include breakpoint(desktop-wide) {
					max-width: none;
				}

				strong {
					@extend %font-body;
					position: relative;
					font-weight: 800;
					display: inline-block;
					text-transform: uppercase;
					margin-right: 4px;
					margin-left: 4px;

					&:before {
						content: " ";
						position: absolute;
						top: -4%;
						right: -4%;
						bottom: -4%;
						left: -4%;
						background: rgba(255, 255, 255, 0.3);
					}
				}
			}
		}

		.block-bg {
			position: relative;
			max-height: 560px;
			overflow: hidden;

			&:after {
				content: " ";
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba($color-primary-dark, 0.2);
			}

			img {
				@extend %image-fluid;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			.mask {
				position: absolute;
				z-index: 2;
				bottom: -1px;
				left: 0;
				right: 0;
				width: 100%;
				fill: #fff;
			}
		}

		.block-credits {
			@extend %font-size-xxsmall;
			color: #fff;
			position: absolute;
			z-index: 4;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
		}
	}

	// Homepage hero
	&.hero--large {
		position: relative;
		z-index: 2;

		@include breakpoint(tablet-ls) {
			height: 100vh;
		}

		.container-image {
			position: absolute;
			width: 100vw;
			top: 15.625vh;
			left: 0;
			right: 0;

			@include breakpoint(tablet) {
				top: 0;
			}

			@include breakpoint(desktop) {
				max-width: none;
			}

			.col-image {
				.block-image {
					position: absolute;
					top: 0;
					right: -20vw;

					@include breakpoint(tablet) {
						top: 0;
						right: -2vw;
					}

					@include breakpoint(desktop) {
						top: 0;
						right: 0;
					}

					img {
						width: 104vw;
						height: auto;
						object-fit: cover;
						max-width: 680px;

						@include breakpoint(tablet) {
							width: 72.95vw;
							max-width: none;
						}

						@include breakpoint(tablet-ls) {
							width: auto;
							object-fit: contain;
							max-width: 860px;
						}

						@include breakpoint(desktop) {
							//height: 92vh;
							//max-width: none;
							max-width: 1024px;
						}

						@include breakpoint(desktop-wide) {
							height: 92vh;
							max-width: none;
						}
					}
				}
			}
		}

		.container-body {
			position: relative;
			z-index: 99;
			padding-top: calc(38vh + 100vw * 0.4);

			@include breakpoint(tablet) {
				padding-top: calc(100vw * 0.4);
			}

			@include breakpoint(tablet-ls) {
				position: absolute;
				top: 50%;
				left: 9vw;
				transform: translateY(-30%);
				padding: 0;
			}

			@include breakpoint(desktop) {
				left: 4vw;
			}

			@include breakpoint(desktop-wide) {
				max-width: 1614px;
				margin: 0 auto;
				left: 50%;
				transform: translate(-50%, -40%);
			}

			.hero-title {
				@extend %font-size-hero-large;
				color: $color-body-dark;
				margin: 0;

				strong {
					position: relative;
					color: #fff;

					&:before {
						content: " ";
						position: absolute;
						z-index: -1;
						top: 4px;
						bottom: -4px;
						left: -8px;
						right: -8px;
						background: $color-primary;

						@supports (-moz-appearance: none) {
							height: 125%;
							transform: translateY(-30%);
						}

						@include breakpoint(desktop) {
							top: 10px;
						}
					}
				}
			}

			.hero-cta {
				margin-top: 45px;

				@include breakpoint(tablet) {
					display: none;
				}

				.btn-rounded.btn--backdrop {
					margin-bottom: 11px;
				}
			}
		}

		.container-nav {
			position: absolute;
			z-index: 9;
			bottom: 14px;
			left: 0;
			right: 0;

			@include breakpoint(tablet-ls) {
				bottom: 40px;
			}

			.hero-nav {
				text-align: right;

				@include between-breakpoints(
						$breakpoint_tablet,
						$breakpoint_tablet_landscape
				) {
					display: none;
				}

				@include breakpoint(tablet-ls) {
					text-align: left;
				}

				a.js_scrollto {
					display: inline-block;
					width: 20px;
					height: 40px;

					&:hover {
						@include breakpoint(desktop) {
							transform: translateY(6px);
							opacity: 0.4;
						}
					}
				}

				i {
					color: #000;
					font-size: 40px;
				}
			}
		}
	}

	// Services hero
	&.hero--medium {
		position: relative;
		padding-bottom: 40px; // Offset for offset padding

		.hero-body {
			position: relative;
			z-index: 3;
			margin-top: -100px;

			@include breakpoint(desktop) {
				margin-top: -328px;
			}

			.hero-content {
				position: relative;
				background: $color-accent;
				color: #fff;
				font-weight: 500;

				@include breakpoint(desktop) {
					padding: 32px 42px 55px 37px;
					line-height: 1.4rem;
					max-width: 696px;
				}

				// offset padding
				&:before {
					content: " ";
					position: absolute;
					z-index: -1;
					top: -26px;
					right: -20px;
					bottom: -40px;
					left: -20px;
					background: $color-accent;

					@include breakpoint(desktop) {
						display: none;
					}
				}

				.hero-title {
					@extend %font-title;
					@extend %font-size-header1;
					color: #fff;
					margin-bottom: 25px;

					@include breakpoint(desktop) {
						margin-bottom: 42px;
					}
				}
			}
		}

		.hero-bg {
			position: relative;

			img {
				@extend %image-fluid;
				max-height: 620px;
				object-fit: cover;
			}

			.hero-mask {
				position: absolute;
				z-index: 2;
				bottom: -1px;
				left: 0;
				right: 0;
				width: 100%;

				svg {
					fill: #fff;
				}
			}
		}
	}

	&.hero--title-small {
		h1.block-title {
			@extend %font-size-header1;
		}
	}

	&.hero--title-large {
		h1.block-title {
			@extend %font-size-xlarge;
		}
	}

	&.hero--title-align-center {

		.block-title {
			text-align: center;
		}
	}

	&.hero--default-large,
	&.hero--image{

		&,
		& .block-bg {
			height: 100vh;
			max-height: 560px;
		}

		.block-body {
			padding-top: 40px;
		}
	}
}
