.block_service {
	position: relative;

	.block-body {

		@include breakpoint(tablet-ls) {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}

		@include breakpoint(desktop) {
		}

		@include breakpoint(desktop-wide) {

		}

		.block-image {
			position: relative;

			@include breakpoint(tablet-ls) {
				flex: 0 0 45%;
			}

			@include breakpoint(desktop-wide) {
				flex: 0 0 43.27%;
			}

			img {
				@extend %image-fluid;

				@include breakpoint(tablet-ls) {
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		.block-text {
			position: relative;
			padding-top: 40px;
			padding-bottom: 80px;

			@include breakpoint(tablet-ls) {
				flex: 0 0 48.44%;
				order: 2;
				max-width: 608px;
				padding-top: 120px;
				padding-bottom: 40px;
				padding-right: 64px;
			}

			@include breakpoint(desktop) {
				padding-bottom: 64px;
				padding-right: 88px;
			}

			&:before{
				content: " ";
				position: absolute;
				z-index: -1;
				top: -160px;
				left: -200px;
				width: calc(100% + 400px);
				height: calc(100% + 160px);
				background: $color-primary-light;

				@include breakpoint(tablet-ls) {
					top: 40px;
					left: -400px;
					width: calc(100% + 400px);
					height: 100%;
				}
			}

			.block-title {
				@extend %font-title;
				@extend %font-size-header3;
				margin-bottom: 40px;
			}

			.block-actions{
				margin-top: 24px;
			}
		}
	}
}
