.tpl-contact{

	.block_contact{
		margin-top: 56px;
		padding-bottom: 40px;

		@include breakpoint(tablet) {
			padding-bottom: 64px;
		}

		@include breakpoint(desktop) {
			margin-top: 94px;
			padding-bottom: 179px;
		}

		.form-footnote{
			@extend %font-size-header6;
			margin-bottom: 24px;
			color: $form-input-color-placeholder;
		}

		.block-header .contact-details,
		.block-body .body-image{

			@include breakpoint(desktop) {
				flex: 0 0 39.79%;
			}
		}

		.block-header .form-header,
		.block-body .block-form{

			@include breakpoint(desktop) {
				flex: 0 0 48.17%;
			}
		}

		.block-header{

			@include breakpoint(desktop) {
				display: flex;
				justify-content: space-between;
			}

			.contact-details{
				@extend %font-size-xsmall;
				line-height: 1.556rem;
				color: $color-body-dark;

				@include breakpoint(desktop) {
					line-height: 1.7rem;
				}

				@include breakpoint(desktop) {
					order: 2;
					padding-top: 86px;
				}

				.details-header{

					strong{
						@extend %font-size-body;
						display: block;
						color: $color-primary-dark;
						margin-bottom: 12px;

						@include breakpoint(mobile-ls) {
							margin-bottom: 0;
						}
					}
				}

				.details-body{

					@include breakpoint(mobile-ls) {
						display: flex;
					}

					@include breakpoint(desktop) {
						justify-content: space-between;
					}

					.details-col{
						flex: 1;
						margin-bottom: 4px;

						@include breakpoint(mobile-ls) {
							margin-bottom: 0;
						}

						@include breakpoint(desktop) {
							flex: 0 1 auto;
						}

						a{
							@include text-underlined(rgba($color-accent, .5), false);
						}

						&.details-address{
						}

						&.details-contact{
						}
					}
				}
			}

			.form-header{
				margin-top: 48px;

				@include breakpoint(desktop) {
					margin-top: 0;
				}

				.form-title{

					@include breakpoint(desktop) {
						margin-bottom: 68px;
					}
				}
			}
		}

		.block-body{
			position: relative;
			margin-top: 4vw;

			@include breakpoint(tablet) {
				display: flex;
				justify-content: space-between;
			}

			.block-form{
				@include breakpoint(tablet) {
					margin-top: 0;
					flex: 0 0 48.17%;
				}
			}

			.body-image{
				margin-top: 40px;

				@include breakpoint(tablet) {
					position: absolute;
					z-index: 99;
					top: 0;
					right: 0;
					width: 42.17%;
					margin-top: 0;
				}

				@include breakpoint(desktop-wide) {
					right: -8.38%;
					width: 48.17%;
				}

				img{
					@extend %image-fluid;

					@include breakpoint(desktop) {
						position: absolute;
						z-index: 2;
						top: 0;
						right: 0;
					}
				}
			}
		}

		.block-footer{
			margin-top: 24px;

			@include breakpoint(tablet) {
				margin-top: 56px;
			}

			@include breakpoint(desktop) {
				margin-top: 112px;
			}

			#map{
				width: 100%;
				height: 450px;
				background: #e4e4e4;

				@include breakpoint(tablet-ls) {
					height: 450px;
					width: 66.51%;
				}

				@include breakpoint(desktop) {
					height: 650px;
					width: 72.08%;
				}
			}
		}
	}
}
