$base-color: #69bfa5;
$icon-color: #69bfa5;
$highlight-color: #69bfa5;
$notification-color: #69bfa5;
$button-color: #69bfa5;

$menu-submenu-text: #69bfa5;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #69bfa5;