.debug_grid{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	box-sizing: border-box;

	[class*="col-"]{
		//border: 1px solid rgba(red, .4);
		height: 100vh;

		&:first-of-type{
			border-left: 0;
		}

		&:last-of-type{
			border-right: 0;
		}
	}

	.box{
		height: 100vh;
		background: rgba(blue, .1);
	}
}
